@import "/node_modules/normalize.css/normalize";

$blue: #1e3a8a;

@mixin elements {
  &:hover {
    cursor: pointer;
  }
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;

  h4 {
    font-size: 1.5rem;
  }

  img {
    height: 2.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  background-color: lighten($color: white, $amount: 0);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: $blue;
  // height: 18vh;
  padding: 1.5rem;

  .logo {
    img {
      height: 10rem;
    }
  }

  .title {
    h1 {
      color: white;
      font-size: 4rem;
    }
  }
}

main {
  min-height: calc(100vh - 133px - 51px);
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: black;

  .sidebar {
    background-color: #4b5563;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3rem;
    color: white;
    padding: 4rem 2rem;
    font-size: 1.6rem;

    h4 {
      font-size: 2rem;
    }

    .sidebar-element {
      @include elements();
    }
  }

  .inbox {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    padding: 2rem 10rem;

    hr {
      margin: 0.5rem 0 1.5rem 0;
      color: white;
    }

    .inbox-element {
      @include elements();
      margin: 0;
    }
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  background-color: $blue;
  color: white;
  text-align: center;
  padding: 1.5rem;

  img {
    height: 1.8rem;
  }
}
